body{
    background: #BDBDBD;
}
div.container {
    margin: auto;
}
#imagen {
    border-radius: 100%;
    width: 30%;
    float: right;
    margin-top: 0%;
    margin-bottom: 50%;
    max-width: 300px;
    margin-left: 90%;
}

