




<div class="container">
    <div class="contact">
        <h1>Contact</h1>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </p>
        <div class="section">
            <div class="container-contact">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="form">
                                        <div class="form-row">
                                            <div class="col-lg-6">
                                                <strong>Your E-mail</strong>
                                                <input type="text" class="effect-1" placeholder="Your email">
                                            </div>
                                            <div class="col-lg-6">
                                                <strong>Your message</strong>
                                                <label for="exampleFormControlTextarea1">Example textarea</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1"
                                                rows="3"></textarea>
                                            </div>
                                            <div>
                                                <button class="btn btn-primary" type="submit">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
