<div class="container4">
    <div class="Contac>">
        <h1>Contac</h1>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </p>
    </div>
    <div class="section">
        <div class="containe">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="form">
                                    <div class="form-row">
                                        <div class="col-lg-6">
                                            <strong>Your E-mail</strong>
                                            <input type="text" class="effect-1" placeholder="Your email">
                                        </div>
                                        <div class="col-lg-120">
                                            <strong>Your message</strong>
                                            <input type="text" class="effect-1"
                                                placeholder="Please enter your message here...">
                                        </div>
                                        <div>
                                            <button class="btn btn-primary" type="submit">submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>