<div class="container">
    <div class="first-heading">
        <div class="left-part">
            <h1>This First Heading <span>Will Catch Your Eye</span> </h1>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti odio voluptates, consectetur molestiae
                commodi cum eius sapiente? Commodi, inventore! Eos repellendus nam obcaecati, fuga quam sit eligendi
                voluptates reprehenderit reiciendis?</p>
        </div>
        <div class="right-part">
            <img id="imagen" src="https://github.com/breatheco-de/exercise-collaborative-html-website/blob/master/website/assets/img/1.jpg?raw=true">
        </div>
    </div>
</div>

