
        <div class="container">
            <div class="first-heading">
                <div id="texto">
                    <h1>This first heading will catch your eye</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti odio voluptates, consectetur <br> molestiae commodi cum eius sapiente? Commodi, inventore! Eos repellendus nam obcaecati <br>, fuga quam sit eligendi voluptates reprehenderit reiciendis?</p>
                <div>
                    <img id="imagen" src="https://github.com/breatheco-de/exercise-collaborative-html-website/blob/master/website1/assets/img/1.jpg?raw=true">
                </div>
                </div>
            </div>
        </div>

 