<div class="container">
    <div class="portafolio">
    <h1>Portfolio</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quasi totam eos perspiciatis fuga omnis magni adipisci ipsam alias necessitatibus quia, debitis quas quibusdam cum iste velit facere delectus voluptatem!</p>
    </div>
    <div class="project">
        <div class="project-photo">
            <div class="thing-1">
                <img id="foto" src="https://media.istockphoto.com/photos/cryptoart-display-in-art-gallery-picture-id1307112137?s=612x612"></img>
                <h2>Project name</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae eum voluptates voluptatem dolores, vitae</p>
            </div>

            <div class="thing-2">
                <img id="foto" src="https://media.istockphoto.com/photos/fine-art-abstract-floral-painting-background-picture-id1258336471?s=612x612"></img>
                <h2>Project name</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae eum voluptates voluptatem dolores, vitae</p> 
            </div>
            
            <div class="thing-3">
                <img id="foto" src="https://media.istockphoto.com/photos/paint-on-canvas-coloured-sections-with-bright-shades-picture-id1282500710?s=612x612"></img>
                <h2>Project name</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae eum voluptates voluptatem dolores, vitae</p> 
            </div>
        </div>
    </div>
</div>



