<div class="container">
   <div class="second-heading">
      <div class="left-part2">
         <img id="imagen2"
            src="https://github.com/breatheco-de/exercise-collaborative-html-website/blob/master/website/assets/img/2.jpg?raw=true">
      </div>
      <div class="right-part2">
         <h1>The Second Heading <span>Is Pretty Cool Too</span> </h1>
         <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
         </p>
      </div>
   </div>
</div>
